# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>

#Redirect 301 /rostov-on-don/ /rostov
#Redirect 301 /ekaterinburg/ /ekb
#Redirect 301 /moscow/ /ekb
#Redirect 301 /saint-petersburg/ /spb
#Redirect 301 /rostov-on-don /rostov
#Redirect 301 /ekaterinburg /ekb
#Redirect 301 /saint-petersburg /spb


# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Включаем mod_rewrite
  RewriteEngine On

  # Если это папка или файл, открываем её/его
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # В противном случае перенаправляем на index.php
  RewriteRule . index.php
</IfModule>