@media (max-width: 767px) {

	.navbar-brand {
		font-size: 16px;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}

	.school {
		max-height: 500px;
		padding-bottom: 15px;
  	}
	.school .school_overflow_cell {
		max-height: 500px;
		padding-bottom: 0;
		margin-top: 0;
	}
	.school .school_phone {
	    padding-bottom: 7px;
	    padding-top: 7px;
	}

	.school .school_phone .school_overflow_cell{
	    max-width: 505px;
	    /*padding-left: 15px;*/
	}
	.school .school_phone .school_overflow_cell a{
	    background-color: #92DBC7;
	    display: inline-block;
	    padding: 2px 8px 2px 5px;
	    border-radius: 5px;
	    margin-left: 0;
		margin-bottom: 5px;
	}
	.school .school_phone .school_overflow_cell::before {
	    content: '📱';
	    position: absolute;
	    left: -4px;
	    top:9px;
	}
	.school .school_address .school_overflow_cell img {
	  position: absolute;
	  left: -7px;
	}
	.school .school_address .school_overflow_cell::before {
	  
	}
	.school .school_types .school_overflow_cell::before {
	    content: '⭐';
	    position: absolute;
	    left: -7px;
	}
	.school:hover .school_overflow_cell {
	    max-height: 250px;
	    margin-top: 0;
	    overflow: visible;
	    padding-bottom: 0;
	    position: static;
	}
	.school .school_overflow_cell_name {
	    max-height: 250px;
	  	padding-bottom: 15px;
	}

	.school .school_age {
		position: absolute;
		right: 0;
		bottom: 0;

	}

	.info_box_view {
		position: relative;
		left: -15px;
	}

	.map_single_school {
	    right: auto;
	    margin-left: -15px;
	    top:0;
	}

	.school_general_image {
		max-width: 50%;
	}
}