html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}


.navbar-inverse {
    background-color: #008da2;
    border-color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #c6f0da;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c6f0da;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #008da2;
    color:#c6f0da;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus
{
    background-color: #007e91;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.types {
    padding-left: 0;
    margin-top: 40px;
}
.types li {
    list-style-type: none;
    display: inline-block;
    min-width: 120px;
    text-align: center;
    font-size: 18px;
}.types li:before {
    content: '⭐';
}

.navbar-inverse {
 /*background-color: #fff;*/
}

.schools_list_header {
    color: #ccc;
    padding-bottom: 5px;
}


.school {
    background-color: #d1eff1;
    margin-bottom: 4px;
/*    padding-top: 15px;
    padding-bottom: 15px;*/
    border-radius: 3px;
    min-height: 55px;
    max-height: 55px;
    overflow: hidden;
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s, background-color .5s;  
}
.school:hover {
    background-color: #c6f0da;
    max-height: 250px;
}
.school a {
    /*color: #28A9BC;*/
}
.school .school_name {
    font-size: 18px;
    padding-top: 15px;
    /*line-height: 55px;*/
    /*white-space: nowrap;*/
    overflow: hidden;

}
.school .school_types, 
.school .school_phone, 
.school .school_address 
{
    /*line-height: 55px;*/
}
.school .school_address img
{
    opacity: .5;
    position: relative;
    left: -1px;
}

.school .school_overflow_cell_name {
    max-height: 30px;
}

.school:hover .school_overflow_cell_name {
    max-height: 250px;
    position: relative;
    overflow: visible;
    padding-bottom: 15px;
}

.school .school_overflow_cell {
    max-height: 20px;
    margin-top: 17px;
    overflow: hidden;
    -webkit-transition: max-height .3s; 
    -moz-transition: max-height .3s; 
    -ms-transition: max-height .3s; 
    -o-transition: max-height .3s; 
    transition: max-height .3s;  

}
.school .school_phone .school_overflow_cell {
    max-width: 125px;

}
.school:hover .school_overflow_cell {
    max-height: 250px;
    position: relative;
    margin-top: 17px;
    overflow: visible;
    padding-bottom: 15px;
}

.detail_school_types .well-sm {
    display: inline-block;
    margin-bottom: 5px;
}

.detail_about h2 {
    margin-top: 0;
}